.uk-grid-medium > * {
    padding-bottom: 25px;
}
.cx-widget {
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
}
.inlinebob {
    position: absolute;
    top:200px;
    background: rgba(0, 0, 0, 0.7);
    color:white;
    padding: 10px;
    text-align:center;
}
.overlay a {
    color:white;
    position: relative;
    top: 155px;
    left:0;
    right:0;
}
.cx-logo {
    background-size: contain;
    display: inline-flex;
    width: 60px;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
}
.cx-widget h3 {
    margin-top: 5px;
    margin-bottom: 10px;
}
@media(max-width:380px) {
    .cx-widget {
        height: 48vw;
        width: 48vw;
        overflow: hidden;
    }
    .cx-logo {
        background-size: contain;
        width: 48vw;
        height: 45px;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0 -15px;
    }
    .uk-grid-medium > * {
        padding: 1vw;
    }
    .uk-grid-medium {
        width: 100vw;
    }
    .uk-grid:before {
        display:none;
    }
    .cx-widget h3 {
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }
    .inline {
        display: block;
        padding: 10px;
    }
}

.uk-panel-box-secondary .cx-logo {
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    opacity: 0.5;
}


.act.highlight,
.trig.highlight {
box-shadow: 0 0 2px 10px #9ecaed;
}
