
.block-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.kitchen-worktop {
	height: 250px;
	width: 400px;
	display: inline-flex;
	background: url('./images/bg.png') no-repeat center center;
	background-size: contain;
	position: relative;
}

.kitchen-worktop div {
	position: absolute;
    /*background-color: rgba(0,0,0,0.5);*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 3px solid rgb(140,140,140);
    border-radius: 100px;
    background-color: white;
    background-size: 70%;
}
.topleft {
    top: 0%;
    left: 1%;
    height: 28%;
    width: 18%;
}
.topright {
    top: 3%;
    left: 74%;
    height: 37%;
    width: 24%;
        
}
.bottomleft {
    top: 58%;
    left: 8%;
    height: 40%;
    width: 25%;
}
.bottomright {
    top: 62%;
    left: 62%;
    height: 29%;
    width: 18%;
    
}

.connector-list div {
	display: inline-flex;
}
.connector-list {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	max-width: 100%;
	overflow-x: scroll;
}